* {
    box-sizing: border-box;
}
:root {
    --primary-color: #0f1b4c;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* common  */
.content {
    max-width: calc(100% - 48px);
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}
.btn {
    display: inline-block;
    min-width: 98px;
    background: var(--primary-color);
    border-radius: 8px;
    font-weight: 500;
    font-size: 1.4rem;
    text-align: center;
    color: #ffffff;
    padding: 18px 16px;
}

.btn:hover {
    opacity: 0.9;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img.avt {
    width: 16.34px;
    height: 16.34px;
    border-radius: 50%;
}
/* ==================== header ==================== */
.header {
    background: #e6f0ff;
    height: 100vh;
    position: relative;
}

.navbar {
    display: flex;
    align-items: center;
    padding-top: 38px;
}

.navbar ul {
    display: flex;
    margin-left: 50px;
}

.navbar ul a {
    font-weight: 500;
    font-size: 1.4rem;
    color: #4f5361;
    padding: 8px 14px;
}

.navbar ul a:hover {
    text-decoration: underline;
}

.navbar .action {
    margin-left: auto;
}

.navbar .action-link {
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--primary-color);
}

.navbar .action-btn {
    padding: 13px 16px;
    margin-left: 18px;
}

.hero {
    margin-top: 130px;
}

.hero .info {
    width: 51%;
}
.hero .sub-title {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #687690;
}

.hero .title {
    font-weight: 700;
    font-size: 6.4rem;
    line-height: 1.19;
    color: #000336;
    margin-top: 8px;
}

.hero .desc {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.78;
    color: #5a6473;
    margin-top: 30px;
}

.hero .btn {
    border-radius: 8px;
    min-width: 170px;
    margin-top: 40px;
}

.hero-img {
    position: absolute;
    bottom: 0;
    right: calc((100vw - 1110px) / 2 - 100px);
}

/* ==================== client ==================== */
.client {
    margin-top: 79px;
    padding: 43px 0 63px;
}

.client .row-2 {
    margin-top: 23px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.25;
    color: #7d8589;
}

.client .brand {
    margin-top: 96.5px;
    width: 1090px;
    margin-left: auto;
    margin-right: auto;
}

/* ==================== guides ==================== */
.guide {
    margin-top: 40px;
    padding: 93px 0px 79px;
}

.guide .content {
    width: 685px;
}
.guide .guide-desc {
    width: 459px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.guide .title {
    position: relative;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    text-align: center;
    color: #000339;
}
.guide .title::before {
    content: "";
    display: inline-block;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: 41px;
    height: 4px;
    background: #000339;
    border-radius: 12px;
}
.guide .desc {
    margin-top: 20px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.875;
    text-align: center;
    color: #5a6473;
}

.guide .row {
    margin-top: 70px;
}

.guide .col {
    text-align: center;
}

.guide .sub-title {
    margin-top: 26px;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.1;
    text-align: center;
    color: #3b3c45;
}
.guide .col .row {
    margin-top: 10px;
    justify-content: center;
}
.guide .col .link {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    color: #0689ff;
}
.guide .arrow-img {
    margin-left: 8px;
}

.guide-cta {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.guide .btn {
    min-width: 170px;
}

/* ==================== featured ==================== */
.featured {
    background: #f5fafe;
    padding: 110px 0;
}

.featured .title {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    color: #000339;
}

.featured .title-desc {
    margin-top: 15px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #5a6473;
}

.featured .title-desc .link {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.5;
    color: #0689ff;
    margin-right: 8px;
}

.featured .list {
    margin-top: 70px;
    display: flex;
    gap: 30px;
}

.featured .list .item {
    flex: 1;
    gap: 30px;
    border-radius: 12px;
    background: #ffffff;
}

.featured .list .thumb {
    height: 227px;
    width: 100%;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
}

.featured .list .col-content {
    padding: 17px 20px 23px;
}

.featured .list .sub-title {
    font-weight: 600;
    font-size: 2rem;
    line-height: 1;
    color: #000339;
}
.featured .list .desc {
    margin-top: 11px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #a3a6ab;
}
.featured .list-items {
    margin-top: 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.featured .list-items .desc {
    margin-left: 12px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1;
    letter-spacing: 0.01em;
    color: #4d4d52;
}

/* ==================== stats ==================== */
.stats {
    margin-top: 75px;
    padding: 50px 0;
}
.stats .content {
    width: 1017px;
}
.stats .thumb {
    position: relative;
    width: 52%;
    height: 460px;
}

.stats .thumb > .image {
    position: absolute;
    right: 0;
    width: 400px;
    height: 460px;
    object-fit: cover;
    border-radius: 12px;
}
.stats-row {
    display: flex;
}

.intro {
    position: relative;
    width: 48%;
}

.intro-panel {
    position: absolute;
    max-width: 309px;
    right: 0;
    top: 79px;
}

.intro-panel .title {
    position: relative;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1.29;
    color: #000339;
}

.intro-panel .title::before {
    position: absolute;
    content: "";
    top: -10px;
    width: 41px;
    height: 4px;
    background: #000339;
    border-radius: 12px;
}

.intro-panel .desc {
    margin-top: 20px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #5a6473;
}
/* panel */
.stats .thumb-panel {
    position: absolute;
    width: 239px;
    min-height: 252px;
    padding: 45px 23px 41px;
    border-radius: 0 0 12px 12px;
    z-index: 1;
    background: #fff;
}

.stats .thumb-panel .title {
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 1;
    letter-spacing: 0.01em;
    color: #000339;
}

.stats .thumb-panel .desc {
    margin-top: 8px;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #a7a7a7;
}

.stats .thumb-panel .line {
    margin-top: 26px;
    height: 1.2px;
    width: 100%;
    background: #e9e9e9;
}

.stats .thumb-panel .list-avt {
    margin-top: 26px;
    display: flex;
    gap: 13.92px 16.34px;
    flex-wrap: wrap;
}

.group-avt {
    display: flex;
}

.avt + .avt {
    margin-left: -5px;
}

.stats-footer {
    margin-top: 110px;
    max-width: 100%;
    width: 985px;
    margin-left: auto;
    margin-right: auto;
}

.stats-footer .title {
    font-weight: 600;
    font-size: 6.4rem;
    line-height: 1;
    color: #000000;
}

.stats-footer .desc {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.5;
    color: #7b8087;
}

/* ================= sub ================= */
.sub {
    margin-top: 90px;
}
.sub .content {
    position: relative;
    background: #063183;
    border-radius: 20px;
    align-items: center;
    height: 370px;
}

.sub .info {
    width: 501px;
    margin-left: 80px;
}
.sub .info .title {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    color: #ffffff;
}

.sub .info .desc {
    margin-top: 15px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #ffffff;
    opacity: 0.75;
}

.sub .info .btn {
    margin-top: 20px;
    min-width: 151px;
    background: #ffffff;
    border-radius: 12px;
    font-weight: 500;
    font-size: 1.3;
    line-height: 1.56;
    color: #002366;
}

.sub .content .image {
    position: absolute;
    bottom: 0;
    right: 221px;
}
